html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Membuat halaman memiliki tinggi penuh */
}

footer {
  margin-top: auto; /* Membuat footer selalu berada di bawah */
}
